---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Descubre Mermelada Tech">
    <div class="column justify-center items-center space-y-8 h-screen bg-[repeating-linear-gradient(transparent_0_58px,_rgba(255,255,255,0.8)_60px),repeating-linear-gradient(90deg,transparent_0_58px,_rgba(255,255,255,0.4)_60px),linear-gradient(to_bottom,_#61CEE2,_#98CDCD,_#B6C2E3,_#AB7BB7)] bg-[length:60px_60px,_60px_60px,_100%_100%]">
        <p class="text-grape-dark font-bold text-7xl text-center">
            <span class="block">¿ Te apasiona la</span>
            <span class="block">tecnología ?</span>
        </p>
        <p class="text-blacky font-semibold text-4xl text-center">
            <span class="block">Amplía tus habilidades técnicas y forma</span>
            <span class="block">equipo con otras mujeres</span>
        </p>
        <p class="text-blacky text-2xl text-center">
            Te invitamos a unirte a nuestra comunidad y formar parte de un grupo de mujeres que apoyan y se inspiran mutuamente.
        </p>
    </div>
</Layout> 