
<nav class="flex justify-between h-[64px]">
    <img src="./logo-mermelada.svg" alt="logo-mermelada" class="m-4"/>
    <ul class="flex items-center list-none">
        <li class="pr-3"><a href="/">Inicio</a></li>
        <li class="pr-3"><a href="/mentors">Mentorías</a></li>
        <li class="pr-3"><a href="/testimonials">Testimonios</a></li>
        <li class="pr-3"><a href="/about-us">Sobre Nosotras</a></li>
        <li class="pr-3"><a href="/colaborators">Colaboradoras</a></li>
        <li class="pr-3"><a href="/faqs">FAQs</a></li>
        <li class="pr-3">
            <button class="bg-yellow-sunflower border-black rounded-xs shadow-[4px_6px_0_0_rgba(0,0,0,1)] shadow-black transform hover:scale-105 transition-transform flex py-1 px-2 font-semibold">
                <div class="flex items-center">
                    <span class="pr-2">Patreon</span>
                    <img src="./logo-patreon.svg" alt="patreon" class="w-4 h-4"/>
                </div>
            </button>
        </li>
    </ul>
</nav>
